.game h1 {
    font-size: 2.5em;
}
.points span {
    font-weight: bold;
}

.tip span{
    color: #118ab2;
}

.wordContainer{
    display: flex;
    border: 20px solid #ffd166;
    margin: 1.5em;
    padding: 1.5em;
    border-radius: 12px;
}

.letter, .blankSquare{
    background-color: white;
    border: 3px solid #4895ef;
    border-radius: 12px;
    color: #2b2d42;
    font-size: 70px;
    font-weight: bold;
    height: 100px;
    line-height: 1.5;
    text-transform: uppercase;
    width: 100px;
}

.letterContainer p {
    margin-bottom: 1.2em;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
    border-radius: 10px;
    border: 3px solid #4895ef;
}