html, body{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #2b2d42;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

button{
    background: #b5179e;
    color: white;
    padding: 20px;
    border: 2px solid white;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: .4s;
}

button:hover{
    background: #b5179dbe;
}